.App {
  background-color: aqua;
  margin-top: 60px;
}

#Light {
  background-color: rgba(16, 20, 28, 255);
  color: rgba(180, 206, 241, 255);
}

#Dark {
  background-color: rgba(16, 20, 28, 255);
  color: rgba(180, 206, 241, 255);
}

.font-link {
  font-family: "Roboto";
}
